version: 2
jobs:
  build:
    docker:
      - image: docker:stable-git
    working_directory: ~/project
    steps:
      - checkout
      - setup_remote_docker:
          version: 17.07.0-ce
      - restore_cache:
          keys:
            - v2-{{ arch }}-{{ .Branch }}-{{ checksum "Dockerfile" }}
          paths:
            - /caches/app.tar
      - run:
          name: Build image
          command: |
            apk add --no-cach ca-certificates openssl
            update-ca-certificates
            source ".docker/import.sh"
            build
            test 'inspec version'
      - save_cache:
          key: v2-{{ arch }}-{{ .Branch }}-{{ checksum "Dockerfile" }}
          paths:
            - /caches/app.tar
      - deploy:
          name: Push Image
          context: org-global
          command: |
            apk add --no-cach ca-certificates openssl
            update-ca-certificates
            source ".docker/import.sh"
            push

workflows:
  version: 2
  build:
    jobs:
      - build:
          context: org-global
